.categoryMenu ul.l1{margin:0px; padding:0px; list-style-type:none; font-size:14px;}
.categoryMenu ul.l1 li{list-style-type:none; background-image:url(images/arrow_large.gif); background-position:center left; background-repeat:no-repeat; border-bottom:solid 1px #e6e6e6; line-height:30px; padding:0px 20px}
.categoryMenu ul.l1 li a, ul.l1 li a:visited{color:#474747; text-decoration:none;}
